*{
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main{
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #fcfcfc;
    height: 100%;
    
}
.header{
    background-color: #222222;
    margin: 0;
    padding: 1px;
    width: 100%;

}
.title-header{
    color: #fcfcfc;
    margin: 2px 350px 2px 350px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.description_content{
    background: linear-gradient(#e66465, #54cf7d);
    margin: 0;
    padding: 1px;
}
.description_author_content{
    display: flex;
    /* margin: 2px 50px 2px 50px; */
    padding-top: 10em;
}
.author{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-left: 10px;
}
.description_author_resume{
    padding-top: 1em;
}
.avatar{
    height: 150px;
    width: 150px;
    border-radius: 5%;
}
.posts{
    display: flex;
    border: solid 1px #2c2c2c;
    border-radius: 5px;
    flex-direction: column;
    
}
.posts_avatar{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}
.post_content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 5px;
}
/* .footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
} */