:root{
    --gray: #2c2c2c;
    --white:  #ffffff;
    --battleshipGray: #848482;
    --lightBlue: #1d9bf0;
    --grayWolf: #504A4B;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px red;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.content{
    padding: 5px;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--gray);
    width: 50%;
    justify-content: center;
    height: 80%;
    color: var(--white);
    margin: 10px;
    overflow: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: var(--battleshipGray);
    margin: 0;
    padding: 1px;
    width: 100%;
}
.arrow{
    width: 40vw;
}
#backToMain{
    display: none;    
    margin: 5px;
    padding: 0;
}
.title-header{
    color: var(--white);
    /* margin: 2px 350px 2px 300px; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description_content{
    background: linear-gradient(#e66465, #54cf7d);
    margin: 0;
    padding: 1px;
}
.description_author_content{
    display: flex;
    /* margin: 2px 50px 2px 50px; */
    padding-top: 10em;
}
.author{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-left: 10px;
}
.description_author_resume{
    padding-top: 1em;
}
.avatar{
    height: 150px;
    width: 150px;
    border-radius: 5%;
}
.posts{
    display: flex;
    border: solid 1px var(--battleshipGray);
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.posts_avatar{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}
.post_content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    margin: 5px;
    border: solid 1px var(--battleshipGray);
    border-radius: 5px;
}
.footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: var(--battleshipGray);
   color: var(--white);
   text-align: center;
   position: fixed;
   padding-top: 2px;
   margin-top: 2px;
}
.newPostButton{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #1d9bf0;
    color: var(--white);
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
}
.newPostButton:hover{
    background-color: #0d8ee4;
    /* transition: opacity 0s; */
}
.newPostButton:active{
    background-color: #00568f;
}
.formPost{
    width: 100%;
    height: 55vh;
    margin-top: 10vh;
    border: none;
}
